@if $header_text == "true" {
    .d-header .title::after {
        padding-left: 20px;
        font-size: 1.5em;
        color: $header_text_color;
        background-color:$header_bg;
        content: "Here is some text";
    }
    .archetype-regular #main.no-text .d-header .title::after {
        display:none;
    }
}
